body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a{
    text-decoration: none;
    color: #373333;
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #534e4e;
    color: #fff;
}

.btn-container {
    text-align: center;
    margin-top: 50px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #1c1919;
    color: #f1eded;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn a{
    color: white;
    text-decoration: solid;
}

.btn:hover {
    background-color: #312e2e;
}

.count{
    background-image: url('images.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 160vh;

}