<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summarizer Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./static/style.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'summ_input.css')}}">

    <style>
        
    </style>
    <style>
        /* Footer styles */
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
            /* position: fixed; */
            margin-bottom: 0;
            bottom: 0;
            width: 100%;
        }

        .fa {
            margin: 0 5px;
        }
    </style>
</head>

<body>
    <div class="nav">
        <a href="/about">About Us &#x2197;</a>

    </div>
    <div class="container">
        <h2>Here You can summarise Recorded Notes</h2>
        <form action="/analyze" method="POST">
            <textarea name="rawtext" class="form-control" placeholder='Enter your text here' rows="8"></textarea>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        
    </div>
    <div style="height: 17vh;">

    </div>
    <footer>
        <p>&copy; <span id="currentYear"></span> el_wey. All rights reserved. <i class="fa fa-clock-o"></i> <span id="currentTime"></span></p>
    </footer>

    
    
    <script>
        document.getElementById('currentYear').textContent = new Date().getFullYear();
    
        function updateTime() {
            var now = new Date();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();
            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            document.getElementById('currentTime').textContent = hours + ':' + minutes + ':' + seconds;
        }
    
        updateTime(); 
        setInterval(updateTime, 1000);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>
